# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Entorno Virtual
venv/
.env

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# VS Code / IDEs
.vscode/
.idea/
*.swp
